---
title: "services"
date: 2012-08-26 02:08
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body id="services">

      {% include header.html %}

      <div class="container">

      	    <p>
      	    	Coop designs web sites, applications and brands.
      	    </p>


      	    	<p>I'm going to talk to you about design.</p>

      	    	<p>Design is based on intuition and assumption, it isn't a science, its definition is loose at best. Such obscurity leads to bullshit and a confusing array of job titles.</p>

      	    	<p>I will try my hardest not to bullshit you.</p>

      	    	<p>Good design requires obsessive focus and repetitive practise to sharpen the senses so a designers instinct can be trusted.</p>

      	    	<p>At Coop, I specilise and focus on the web, the Internet. </p>

      	    	<p>I am a web designer.</p>

      	    	<p>My craft lies in considersed interactions, effective communication and clean code.</p>

      	    	<p>The sort of work I strive to create:</p>

      	    		<p>— Works well. The user and businesses needs have been understood, met and exceeded.</p>

      	    		<p>— Has integrity. Pleasing on the eye, using smart typography, and if needed, illustration.</p>

      	    		<p>— Reads well. You spend the majority of time on the web reading so I put a lot of effort into finding the right words.</p>

      	    		<p>— Technically strong. I code what I design and design what I code.</p>

      	    		<p>— Device responsive. The web is accessed via laptops, phones, tablets. These are taken into account.</p>

					<p>— Does something different. Otherwise, what's the point? </p>


				<p>I am lucky enough to spend my days doing what I love. Still driven with the desire to draw pretty pictures that my Mum will stick on the fridge.</p>

				<p>If you'd like me to create a web site, application and brand that you'd like to stick on your fridge, get in touch.</p>

				<p>Thanks,</p>

				<p>Jason Cooper</p>




      </div>



	<div class="clearfix"></div>

</body>

</html>
