{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

      {% include header.html %}

      <div class="intro">

      	    <h1 style="display: none;">Coop designs web sites, applications and brands.</h1>

      </div>

      {{ content | expand_urls: root_url }}


	<div class="clearfix"></div>

</body>
</html>
