// Style

body {
	height: 100%;
	background: #fff;
}

body.home:active {
	background: #000;
}


.dots {
	background: url(/img/bg_dots.png);
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index:2;
}

.blur {
	display: block;
	position: fixed;
	width: 500px;
	height: 500px;
	z-index: 1;
}

.blue {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.orange {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(250,237,184,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(250,237,184,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,237,184,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(250,237,184,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(250,237,184,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(250,237,184,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faedb8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.red {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(250,184,184,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(250,184,184,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(250,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(250,184,184,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(250,184,184,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fab8b8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.panes {
	height: 100%;
}