header {
  h1, h2 {
    font-family: futura-pt;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 26px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #000; } }

h1 {
  font-family: utopia-std;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 23px; }

.home h1 {
  text-shadow: -5px 0px 5px white, 0px -5px 5px white, 5px 0px 5px white, 0px 5px 5px white; }

p {
  font-family: ff-basic-gothic-web-pro;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 12px; }

body {
  font-family: futura-pt;
  color: #4e4e4e;
  font-size: 100%; }


  // Kerning using lettering.js

  header h1 .char1 {padding: 0 0 0 0;}
  header h1 .char2 {padding: 0 1px 0 2px;}
  header h1 .char3 {padding: 0 1px 0 1px;}
  header h1 .char4 {padding: 0 1px 0 1px;}
  header h1 .char5 {padding: 0 1px 0 1px;}
  header h1 .char6 {padding: 0 1px 0 1px;}
  header h1 .char7 {padding: 0 2px 0 1px;}
  header h1 .char8 {padding: 0 0 0 0;}
  
  header h2.des {width: 125px;}
  header h2.des .char1 {padding: 0 0 0 0;}
  header h2.des .char2 {padding: 0 1px 0 2px;}
  header h2.des .char3 {padding: 0 1px 0 1px;}
  header h2.des .char4 {padding: 0 1px 0 1px;}
  header h2.des .char5 {padding: 0 1px 0 1px;}
  header h2.des .char6 {padding: 0 1px 0 1px;}
  header h2.des .char7 {padding: 0 2px 0 1px;}
  header h2.des .char8 {padding: 0 0 0 0;}
  
  header h2.loc .char1 {padding: 0 0 0 0;}
  header h2.loc .char2 {padding: 0 1px 0 2px;}
  header h2.loc .char3 {padding: 0 1px 0 1px;}
  header h2.loc .char4 {padding: 0 1px 0 1px;}
  header h2.loc .char5 {padding: 0 1px 0 1px;}
  header h2.loc .char6 {padding: 0 1px 0 1px;}
  header h2.loc .char7 {padding: 0 1px 0 1px;}
  header h2.loc .char8 {padding: 0 1px 0 1px;}
  header h2.loc .char9 {padding: 0 1px 0 1px;}
  header h2.loc .char10 {padding: 0 1px 0 1px;}
  header h2.loc .char11 {padding: 0 1px 0 1px;}
  header h2.loc .char12 {padding: 0 2px 0 1px;}
  header h2.loc .char13 {padding: 0 1px 0 1px;}
  header h2.loc .char14 {padding: 0 2px 0 1px;}

  header nav ul li a.por .char1 {padding: 0 0px 0 0px;}
  header nav ul li a.por .char2 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char3 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char4 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char5 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char6 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char7 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char8 {padding: 0 1px 0 1px;}
  header nav ul li a.por .char9 {padding: 0 1px 0 1px;}
    

  header nav ul li a.inf .char1 {padding: 0 0px 0 0px;}
  header nav ul li a.inf .char2 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char3 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char4 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char5 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char6 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char7 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char8 {padding: 0 1px 0 1px;}
  header nav ul li a.inf .char9 {padding: 0 1px 0 1px;}