header {
  height: 180px;
  position: relative;
  top: 12px;
  width: 800px;
  margin: 0 auto;
  z-index: 99999;
}

header nav.main {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  float: right;
  width: 39%;
}
  
  .box {
    background-color: #fff;
    
    display: block;
    padding: 0 0 0 5px;
    margin-bottom: 0;

    color: #000;
    font-family: futura-pt;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    text-transform: uppercase;
  }

  header h1, header h2 {
    border-bottom: solid 1px #000;
    
  }

  header h1 {
    float: left;
    width: 151px;
  }

  header h2 {
    color: #ccc;
    float: left;
    text-align: right;
    padding: 0 5px 0 0 !important;
    width: 151px;
  }



    header nav a {
      border-bottom: solid 1px #000;
      cursor: pointer;
      
      display: block;
      float: left;
      width: 307px;
    }
    
    header nav a.current  {
        background: #e7faeb;
      }
  

  header .nextprevfake {
    background: url(../../img/nextprev_fake.png);
    display: block;
    position: fixed;
    margin: 0 0 0 201px;
    width: 210px;
    height: 62px;
  }
