<div class=".border .border-top"></div>
<div class=".border .border-bottom"></div>
<div class=".border .border-left"></div>
<div class=".border .border-right"></div>
<div class=".corner .corner-bottom-left"></div>
<div class=".corner .corner-bottom-right"></div>
<div class=".corner .corner-top-left"></div>
<div class=".corner .corner-top-right"></div>

<header>

  <div class="container">

    <nav class="main">

      <h1 class="box">Jasecoop</h1>
      <h2 class="loc box">London, England</h1>

      <ul>
        <li>
          <a class="box por current">Portfolio</a>
          <a class="box inf">About</a>
        </li>
      </ul>

      <div class="clearfix"></div>

    </nav>

  </div>

</header>

<div class="dots"></div>